@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

.background {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-image: url("../images/1567666.png");
	font-color: #FFFFFF;
}

.container-fluid {
    border: thick solid #00000;
	color: #FFFFFF;
    text-align: center;
}

.container {
    border: thin solid #FFFFFF;
    text-align: center;
    color: #00000;
	background: #82BFF3
}
